.container{
height: 700px;
display: flex;
justify-content: center;
align-items: center;
}

.text-center{
  text-align: center;
}

.text-center .text-2xl{
  font-size: medium;
  text-align: blue;
  font-weight: 500;
}

.span{
  color: yellow;
  font-weight: 400;
}

.text-center .outline{
  outline: none;
  border: 2px blue 500;
  background-color: white;
  box-shadow: 0 0 5px;
}

button{
  background-color: blue ;
  color: white;
  margin: 10px;
}

.mt-5{
  border: 2px blue 500;
  color: blue;
  font-size: medium;
}